PROJECT_ENDPOINT=https://xxxxxx
MODEL_DEPLOYMENT_NAME=gpt-4o

User_ID=xxxxxx@microsoft.com
Password=xxxxxxx

Adomd_DLL_Path=C:\xx\Microsoft.NET\ADOMD.NET\160
Analysis_Services_path=C:\xx\Microsoft SQL Server\160\SDK\Assemblies

SERVER_PATH=xx\src\\server.py