PROJECT_ENDPOINT=https://mcapsda-bicenterofexcellence-aitkif.services.ai.azure.com/api/projects/mcapsda-bicenterofexcellence-aiproject
MODEL_DEPLOYMENT_NAME=gpt-4o

User_ID=xxxxxx@microsoft.com
Password=xxxxxxx